app-todo-timer {
  position: absolute;
  right: 60px;
  top: 10px;
}

.input-container {
  width: 80%;
}

.btn-container {
  width: 20%
}

.time-spent {
  position: absolute;
  left: 60px;
  bottom: 0px;
  font-size: medium;
  color: lightgray;
}